<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>History Donasiku</title>
    <link rel="stylesheet" href="history.css">
</head>
<body>
    <div class="navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="24" viewBox="0 0 12 24" fill="none" id="return-to" onclick="location.href = 'index.html';">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.34299 12.0001L10.414 19.0711L8.99999 20.4851L1.22199 12.7071C1.03451 12.5196 0.929199 12.2653 0.929199 12.0001C0.929199 11.735 1.03451 11.4807 1.22199 11.2931L8.99999 3.51514L10.414 4.92914L3.34299 12.0001Z" fill="black"/>
        </svg>
        <span class="historyku">
            History saya
        </span>
    </div>
    <div class="history">
        <h1>History Donasi Saya</h1>
        <div class="dana">
            <a href="#">Dana yang Didonasikan</a>
            <div class="container">
                <div class="preview">
                    <img src="public/assets/img/beruang.png" class="img-thumbnail" alt="img-case">
                    <div class="desc-prev">
                        <span class="title">Tumor Mata Merenggut Masa Kecilnya, Bantu Kiran Sembuh!</span>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar w-75"></div>
                        </div>
                        <span class="donasi">Donasi Rp 50.000</span><br>
                        <span class="date">Pada 10 Desember 2024-10.12 WIB</span>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="preview">
                    <img src="https://encrypted-tbn2.gstatic.com/licensed-image?q=tbn:ANd9GcQ9NsPzsWs-trp6Fp5GByCklc9ga5HeacMgTCa3xmQ8y06d9kkX4kaFRx8eO7B5nhHw99t1TAKCRc3EKmsRPRAsB4O3-74Fb938_qMMfw" class="img-thumbnail" alt="img-case">
                    <div class="desc-prev">
                        <span class="title">Darurat Gunung Lewatobi!</span>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar w-75"></div>
                        </div>
                        <span class="donasi">Donasi Rp 50.000</span><br>
                        <span class="date">Pada 10 Desember 2024-10.12 WIB</span>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="preview">
                    <img src="https://paybill.id/cfd/upload/banner-program/paybill-program-banner-3-NOALGD-1733473149988.jpg    " class="img-thumbnail" alt="img-case">
                    <div class="desc-prev">
                        <span class="title">Bantu Korban Banjir Sukabumi!</span>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar w-75"></div>
                        </div>
                        <span class="donasi">Donasi Rp 50.000</span><br>
                        <span class="date">Pada 10 Desember 2024-12.22 WIB</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sumbangan">
            <a href="#">Sumbangan yang didonasikan</a>
            <div class="container">
                <div class="preview">
                    <img src="public/assets/img/beruang.png" class="img-thumbnail" alt="img-case">
                    <div class="desc-prev">
                        <span class="title">Tumor Mata Merenggut Masa Kecilnya, Bantu Kiran Sembuh!</span>
                        <br>
                        <span class="barang">Jumlah sumbangan: 10 kantong beras</span><br>
                        <span class="date">Pada 10 Desember 2024-10.12 WIB</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script type="text/javascript">
        document.getElementById("#return-to").onclick = function () {
        location.href = "index.html";
    };
    </script>
</body>

</html>